body {
    font-family: "Microsoft YaHei", 微软雅黑, sans-serif;
}

.gray-bg {
    background-color: #f5f5f5;
}

.mb-50 {
    margin-bottom: 55px;
}

.container {
    width: 1000px;
    padding: 0;
}

/*头部header开始*/
.m-header {
    background-color: #f5f5f5;
}

.m-header .welcome {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.m-header .options {
    height: 40px;
    position: relative;
}

.m-header .options a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;
    padding: 0 10px;
}

.m-header .options a:hover {
    color: #c8000c;
}

.m-header .options .email-login {
    border-right: 1px solid #ddd;
}

.m-header .options .search {
    margin-left: 10px;
    padding-right: 28px;
    border: 1px solid #666;
    margin-top: 5px;
    outline: none;
    width: 160px;
    height: 30px;
    border-radius: 18px;
    background-color: transparent;
    padding-left: 12px;
}

.m-header .options .search-icon {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 17px;
    background: url("../imgs/search.png") no-repeat center center;
}

/*头部header结束*/
/*尾部footer开始*/
.m-footer {
    padding-top: 28px;
    background-color: #3c3c3c;
    color: #8a8a8a;
}

.m-footer .top {
    padding-bottom: 14px;
    border-bottom: 1px solid #686868;
}

.m-footer .center {
    margin: 18px 0 27px 0;
}

.m-footer .center .out-link {
    margin: 0;
    display: inline-block;
}

.m-footer .center .out-link li {
    padding: 0 12px;
}

.m-footer .center .out-link li:first-child {
    padding-left: 0;
}

.m-footer .center .out-link a {
    color: #8a8a8a;
    text-decoration: none;
}

.m-footer .center .out-link a:hover {
    color: #efefef;
}

.m-footer .bottom {
    height: 40px;
    line-height: 40px;
    background-color: #2c2c2c;
    text-align: center;
}

.m-footer .bottom .link {
    display: inline-block;
    margin: 0 0 0 8px;
}

.m-footer .bottom .link li {
    position: relative;
    padding: 0 6px;
}

.m-footer .bottom .link li a {
    color: #8a8a8a;
    text-decoration: none;
}

.m-footer .bottom .link li a:hover {
    color: #efefef;
}

.m-footer .bottom .link li:after {
    content: "|";
    position: absolute;
    left: -4px;
    top: 0;
}

.m-footer .bottom .link li:first-child:after {
    content: "";
}

.m-footer .tel-email {
    padding: 15px 0;
    width: 278px;
    border-right: 2px solid #686868;
}

.m-footer .tel-email h4 {
    font-size: 20px;
    margin: 0 0 18px 0;
}

.m-footer .tel-email .email {
    font-size: 12px;
    margin-top: 20px;
}

.m-footer .inner-link {
    position: relative;
    width: 720px;
    padding-top: 13px;
}

.m-footer .inner-link .list-inline {
    margin: 0;
}

.m-footer .inner-link .list-inline li {
    padding: 0 25px 0 25px;
    vertical-align: top;
}

.m-footer .inner-link .list-inline li dl {
    margin-bottom: 0;
}

.m-footer .inner-link .list-inline li dt {
    color: #efefef;
    font-weight: normal;
    line-height: 26px;
}

.m-footer .inner-link .list-inline li dd {
    line-height: 26px;
}

.m-footer .inner-link .list-inline li a {
    color: #686868;
    text-decoration: none;
}

.m-footer .inner-link .list-inline li a:hover {
    color: #efefef;
}

.m-footer .inner-link .two-bar-codes {
    position: absolute;
    top: 0;
    right: 0;
    width: 112px;
    height: 116px;
    background: url("../imgs/two_code.png") no-repeat center center;
}

/*尾部footer结束*/
/*导航nav开始*/
.m-nav {
    background-color: #fff;
}

.m-nav .logo {
    height: 80px;
    padding-top: 15px;
}

.m-nav .menu {
    margin: 23px -5px 0 0;
}

.m-nav .menu > li {
    position: relative;
    margin: 0 5px;
    padding: 0;
}

.m-nav .menu > li > a {
    display: block;
    padding: 6px 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.m-nav .menu > li:hover > a, .m-nav .menu > li.active > a {
    color: #fff;
    background-color: #c8000c;
}

.m-nav .menu > li > ul {
    background-color: #c8000c;
    display: none;
    margin: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    top: 34px;
    width: 200px;
    padding: 5px 0;
}

.m-nav .menu > li:hover > ul {
    display: block;
}

.m-nav .menu > li > ul li {
    padding: 0;
}

.m-nav .menu > li > ul a {
    display: block;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
}

/*导航nav结束*/
/*内页导航开始*/
.m-innernav {
    margin-bottom: 0;
    width: 235px;
}

.m-innernav dt {
    position: relative;
    z-index: 100;
    height: 104px;
    line-height: 104px;
    text-align: center;
    color: #fff;
    background-color: #c8000c;
    font-size: 22px;
}

.m-innernav a {
    position: relative;
    display: block;
    padding-left: 82px;
    text-decoration: none;
    color: #333;
    height: 74px;
    line-height: 74px;
    background-color: #f1f1f1;
    border: 1px solid #dbdbdb;
    border-top: none;
    border-right: none;
    font-size: 16px;
}

.m-innernav a:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 7px;
    top: 35px;
    right: 25px;
    background: url("../imgs/arrow.png") no-repeat center center;
}

.m-innernav dd:hover a, .m-innernav dd.active a {
    background-color: #fff;
}

.m-innernav dd:hover a:after, .m-innernav dd.active a:after {
    background: url("../imgs/arraw_hover.png") no-repeat center center;
}

/*内页导航结束*/
/*分页标签开始*/
.m-page-controls {
    margin: 20px 0 20px 0;
    text-align: center;
}

.m-page-controls li {
    padding: 0 3px;
}

.m-page-controls a {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

.m-page-controls li.active a, .m-page-controls li a:hover {
    background-color: #444;
    color: #fff;
}

.m-page-controls span {
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    color: #333;
}

/*分页标签结束*/
/*内页内容区开始*/
.m-inner-content {
    padding: 25px;
    position: relative;
    z-index: 99;
    width: 765px;
    min-height: 548px;
    background-color: #fff;
    box-shadow: -5px 0px 5px 0 #f3f2f2;
}

.m-inner-content .title {
    padding: 13px 0 8px 0;
    border-bottom: 1px solid #ccc;
}

.m-inner-content .title h3 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.m-inner-content .title p {
    margin: 0;
    text-align: center;
    font-size: 12px;
}

/*内页内容区结束*/
/*内页横幅开始*/
.m-banner {
    height: 349px;
    background: url("../imgs/banner03.png") no-repeat center center;
    margin-bottom: 30px;
}

/*内页横幅结束*/
/*首页样式开始*/
.home-banner-one {
    position: relative;
    height: 500px;
    background: url("../imgs/banner01.jpg") no-repeat center center;
}

.home-banner-one .box {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100px;
    text-align: center;
}

.home-banner-one .box li {
    padding: 0;
}

.home-banner-one .box a {
    display: block;
    width: 178px;
    height: 100px;
}

.home-banner-one .box li.one a {
    background: url("../imgs/img01.png") no-repeat center center;
}

.home-banner-one .box li.two a {
    background: url("../imgs/img02.png") no-repeat center center;
}

.home-banner-one .box li.three a {
    background: url("../imgs/img03.png") no-repeat center center;
}

.home-banner-one .box li.four a {
    background: url("../imgs/img04.png") no-repeat center center;
}

.home-banner-one .box li.five a {
    background: url("../imgs/img05.png") no-repeat center center;
}

.home-banner-one .box li.six a {
    background: url("../imgs/img06.png") no-repeat center center;
}

.home-banner-one .box li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.home-video {
    padding-top: 30px;
}

.home-video .video {
    padding: 0 25px 0 0;
}

.home-video .news {
    padding: 0 0 0 25px;
}

.home-video .top-news {
    text-decoration: none;
    display: block;
}

.home-video .top-news h3 {
    color: #c8000b;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}

.home-video .top-news p {
    color: #666;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 0;
    border-bottom: 1px dashed #999;
    padding-bottom: 3px;
}

.home-video .list-news {
    margin-top: 18px;
    margin-bottom: 0;
}

.home-video .list-news li {
    font-size: 16px;
    line-height: 28px;
}

.home-video .list-news a {
    margin-left: 12px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    width: 355px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-video .list-news a:hover {
    color: #c8000c;
}

.home-banner-two {
    display: block;
    width: 1000px;
    height: 100px;
    margin: 20px auto 0 auto;
}

.home-news {
    height: 447px;
    background: url("../imgs/gray_bg.jpg") no-repeat center center;
    margin-top: 27px;
    padding-top: 50px;
}

.home-news .container {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    height: 348px;
    padding: 20px 15px 15px 15px;
}

.home-news .news-box {
    position: relative;
    width: 605px;
}

.home-news .nav-tabs {
    border-bottom: 2px solid #666;
}

.home-news .nav-tabs > li {
    margin-bottom: 0;
}

.home-news .nav-tabs > li > a {
    margin-right: 0;
    padding: 10px;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 20px;
    font-weight: bold;
    color: #666;
    position: relative;
    top: 2px;
}

.home-news .nav > li > a:focus, .home-news .nav > li > a:hover {
    background-color: #fff;
    border-bottom: 2px solid #666;
}

.home-news .nav-tabs > li.active > a, .home-news .nav-tabs > li.active > a:focus, .home-news .nav-tabs > li.active > a:hover {
    border: none;
    border-bottom: 2px solid #db0000;
    color: #db0000;
}

.home-news .tab-content .img-news {
    margin-top: 15px;
    width: 256px;
    height: 242px;
    border: 1px solid #efefef;
    color: #333;
    text-decoration: none;
}

.home-news .tab-content .img-news p {
    padding-left: 5px;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 24px;
}

.home-news .tab-content .list-news {
    margin-top: 12px;
    width: 326px;
}

.home-news .tab-content .list-news li {
    line-height: 22px;
}

.home-news .tab-content .list-news a {
    margin-left: 7px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-news .tab-content .list-news a:hover {
    color: #c8000c;
}

.home-news .tab-content .list-news li .time {
    font-size: 12px;
}

.home-news .more {
    color: #333;
    text-decoration: none;
    top: 26px;
    right: 0;
    position: absolute;
}

.home-news .more:hover {
    color: #c8000c;
}

.home-news .certificate-query {
    width: 336px;
    height: 312px;
    border: 1px solid #efefef;
    border-radius: 4px;
}

.home-news .certificate-query h3 {
    margin: 0;
    background-color: #c60000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 13px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.home-news .certificate-query .query-form {
    padding: 15px 20px;
}

.home-news .certificate-query label {
    margin-bottom: 0;
    font-weight: normal;
    display: inline-block;
    width: 70px;
    text-align: right;
}

.home-news .certificate-query .form-control {
    display: inline-block;
    width: 218px;
}

.home-news .certificate-query .form-control.short {
    width: 110px;
}

.home-news .certificate-query .box {
    margin-bottom: 14px;
}

.home-news .certificate-query .btn {
    width: 100%;
    background-color: #ffa200;
    color: #fff;
    font-size: 20px;
    outline: none;
}

.home-news .certificate-query .btn:hover {
    background-color: #f29a02;
}

.home-brand-link {
    margin-bottom: 60px;
    padding-top: 25px;
}

.home-brand-link h3 {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #c60000;
    border-bottom: 2px solid #666;
}

.home-brand-link h3 span {
    position: relative;
    top: 2px;
    display: inline-block;
    padding: 0 10px 5px 0;
    border-bottom: 2px solid #c60000;
}

.home-brand-link h3 .more {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    text-decoration: none;
}

.home-brand-link h3 .more:hover {
    color: #c60000;
}

.home-brand-link .brand-list {
    margin: 0;
}

.home-brand-link .brand-list li {
    padding: 0;
    margin-left: 5px;
}

.home-brand-link .brand-list li:first-child {
    margin-left: 0;
}

.home-brand-link .brand-list li a {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
}

.home-brand-link .brand-list li p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-brand-link .link-h3 {
    margin-top: 35px;
}

.home-brand-link .link-list {
    margin: 0;
}

.home-brand-link .link-list li {
    padding: 0 0 0 10px;
}

.home-brand-link .link-list li:first-child {
    padding-left: 0;
}

.home-brand-link .link-list a {
    display: block;
    height: 100px;
    width: 188px;
    border: 1px solid #999;
    line-height: 100px;
}

.home-brand-link .link-list a.one {
    background: url("../imgs/img12.png") no-repeat center center;
}

.home-brand-link .link-list a.two {
    background: url("../imgs/img13.png") no-repeat center center;
}

.home-brand-link .link-list a.three {
    background: url("../imgs/img14.png") no-repeat center center;
}

.home-brand-link .link-list a.four {
    background: url("../imgs/img15.png") no-repeat center center;
}

.home-brand-link .link-list a.five {
    background: url("../imgs/img16.png") no-repeat center center;
}

/*首页样式结束*/
/*走进中传-企业简介开始*/
.company-profile-content .h4 {
    margin: 28px 0 10px 0;
    color: #e1160c;
    font-weight: bold;
    font-size: 20px;

}

.company-profile-content .p {
    text-indent: 2em;
    margin-bottom: 0;
    line-height: 24px;
}

.company-profile-content .h5 {
    margin: 0 0 10px 0;
    color: #c8000c;
    font-size: 16px;
    font-weight: bold;
}

.company-profile-content .img {
    margin: 20px 0;
    display: block;
}

/*走进中传-企业简介结束*/
/*走进中传-董事长简介开始*/
.chairman-profile-content .avatar-box {
    padding: 30px 0 15px 0;
}

.chairman-profile-content .avatar-box .pull-right {
    width: 490px;
    padding-top: 18px;
    padding-left: 20px;
}

.chairman-profile-content .p {
    margin-bottom: 0;
    text-indent: 2em;
    font-size: 16px;
    line-height: 28px;
}

/*走进中传-董事长简介结束*/
/*走进中传-旗下媒体开始*/
.lts-media-content {
    padding-bottom: 100px;
}

.lts-media-content .h4 {
    font-size: 16px;
    color: #e1160c;
    margin: 30px 0 12px 0;
    font-weight: bold;
}

.lts-media-content .p {
    margin-bottom: 0;
    line-height: 24px;
    text-indent: 2em;
}

/*走进中传-旗下媒体结束*/
/*走进中传-发展历程开始*/
.development-path-content {
    padding-bottom: 100px;
}

.development-path-content .h4 {
    font-size: 16px;
    color: #e1160c;
    margin: 30px 0 12px 0;
    font-weight: bold;
}

.development-path-content .p {
    margin-bottom: 0;
    line-height: 24px;
    text-indent: 2em;
}

/*走进中传-发展历程结束*/
/*走进中传-企业文化开始*/
.company-culture-content {
    padding-bottom: 200px;
}

.company-culture-content .img {
    display: block;
    margin: 30px 0 30px 0;
}

/*走进中传-企业文化结束*/
/*新闻资讯-集团要闻开始*/
.group-news-content .news-list {
    margin: 0;
}

.group-news-content .news-list li {
    padding: 0;
    margin-top: 25px;
}

.group-news-content .news-list a {
    display: block;
    color: #333;
}

.group-news-content .news-list a img {
    display: block;
    border: 1px solid #ddd;
}

.group-news-content .news-list .con {
    width: 543px;
    padding: 0 20px;
    color: #656464;
}

.group-news-content .news-list h4 {
    margin: 5px 0 10px 0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.group-news-content .news-list a:hover h4 {
    color: #c8000c;
}

.group-news-content .news-list p {
    margin-bottom: 0;
    font-size: 14px;
}

.group-news-content .news-list .des {
    font-size: 12px;
    color: #a56600;
    text-indent: 2em;
    margin-top: 10px;
    line-height: 24px;
}

/*新闻资讯-集团要闻结束*/
/*新闻资讯-视频中心开始*/
.video-center-content .video-list {
    margin: 25px 0 0 0;
}

.video-center-content .video-list li {
    margin-bottom: 15px;
    padding: 0 7px;
}

.video-center-content .video-list a {
    display: block;
    text-decoration: none;
}

.video-center-content .video-list a img {
    display: block;
    padding: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.video-center-content .video-list a p {
    text-align: center;
    margin: 8px 0 0 0;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px;
}

.video-center-content .video-list a:hover p {
    color: #c8000c;
}

/*新闻资讯-视频中心结束*/
/*核心产业-文化传媒开始*/
.culture-media-content .content {
    padding-top: 12px;
}

.culture-media-content .p {
    text-indent: 2em;
    margin-bottom: 0;
    line-height: 24px;
}

.culture-media-content .h5 {
    margin-bottom: 30px;
    text-indent: 2em;
    line-height: 24px;
    font-weight: bold;
}

.culture-media-content .h5 .a {
    color: #c8000c;
    text-decoration: none;
    font-weight: normal;
    margin-left: 10px;
}

/*核心产业-文化传媒结束*/
/*品牌项目-品牌项目开始*/
.brand-project-content .video-list {
    margin: 25px 0 0 0;
}

.brand-project-content .video-list li {
    margin-bottom: 15px;
    padding: 0 7px;
}

.brand-project-content .video-list a {
    display: block;
    text-decoration: none;
}

.brand-project-content .video-list a img {
    display: block;
    padding: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

.brand-project-content .video-list a p {
    text-align: center;
    margin: 8px 0 0 0;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px;
}

.brand-project-content .video-list a:hover p {
    color: #c8000c;
}

/*品牌项目-品牌项目结束*/
/*招贤纳士-招贤纳士开始*/
.careers-content .p {
    line-height: 28px;
    margin-bottom: 0;
}

.careers-content .p:first-child {
    margin-top: 10px;
}

.careers-content .p.tit {
    font-weight: bold;
}

/*招贤纳士-招贤纳士结束*/
/*联系我们-联系方式开始*/
.contact-information-content .p {
    line-height: 28px;
    margin-bottom: 0;
}
.contact-information-content .p:first-child{
    margin-top: 10px;
}

/*联系我们-联系方式开始*/
/*证书查询结果开始*/
.zs-query-box{
    box-shadow: 0 0 5px #eee;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 70px;
    padding-bottom: 25px;
}
.zs-query-box .content{
    margin: 25px;
    border:1px solid #eee;
}
.zs-query-box h2{
    margin: 0;
    height: 78px;
    line-height: 78px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #c8000c;
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.zs-query-box h3{
    margin: 0;
    border-bottom: 1px solid #eee;
    text-align: center;
    font-size:24px;
    font-weight: bold;
    height: 70px;
    line-height: 70px;
}
.zs-query-box .info{
    font-size: 16px;
    margin: 0;
}
.zs-query-box .info li{
    padding: 0;
}
.zs-query-box .info li .key{
    display: inline-block;
    vertical-align: middle;
    width:220px;
    text-align: right;
    padding-right: 10px;
    background-color: #dbdbdb;
    border-bottom: 1px solid #fff;
    height: 40px;
    line-height: 40px;
}
.zs-query-box .info li .value{
    padding-left: 15px;
    display:inline-block;
    vertical-align: middle;
    width:728px;
    border-bottom:1px solid #ddd;
    height: 40px;
    line-height: 40px;

}
/*证书查询结果结束*/